.card{
	width: 400px;
	margin:60px auto;
	box-shadow: rgba(100, 100,111,0.2) 0px 7px 29px 0px;
	border:  none;
}
.display{
	width: 100%;
	display: block;
	padding: 14px;
	font-size: 18;
	background-color: #f8e9cb;
	margin-bottom: 16px;
	border: none;

}

.btns{
	display: grid;
	grid-template-columns: auto auto auto auto ;
	column-gap: 10px ;
	row-gap: 10px;
}
input[type="button"]{
	background-color: #ffcf4975;
	padding: 8px;
	font-size: 18px;
	border: none;

}
input[type="button"]:hover{
	cursor: pointer;
	background-color: orange;
}
